
    {{#each this}}
                <li class="cards-item"> 
                    <img class="cards-flag" src="{{flags.svg}}" alt="" width="50">
                    {{name.official}}
                </li>
    {{/each}}

